@model sluCHAYno.ViewModels.MenuCategoryVm

@{ 
    ViewData["Title"] = Model.Name;
}

    <h2>@Model.Name</h2>
    
    <ul class="card-list">
        @foreach (var item in Model.menuItems)
        {
            @await Html.PartialAsync("_partialMenuItem", item)
        }
    </ul>